@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title"></hgroup>
            <img src="~/Images/logo.png" />

        </div>
    </section>
}
<h3>请选择用户角色:</h3>
<div class="round" style="width:500px; margin:0 auto;">

    <div class="one" style="display:inline; ">
        
    
        <a href="~/ReaderNav"><img src="~/Images/pple.png" /> </a>
    </div>


    <div class="two" style="display:inline ;float:right; overflow:hidden">
        <a href="~/AdminNav">    <img src="~/Images//block.png" /> </a>
    </div>


</div>
